.RootWindow {
    background-color: #2e2e2e;
}

.MessageCard {
    //color: darken($font_color, 5%);
    //background-color: darken($bg1_color, 3%);
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
    border-color: $separator_color;
    //border-radius: 8px;
    //cursor: pointer;
}

.ImageBtn {
    background-color: $light_bg_color;
    padding: 5px;
}
.NeedsBtnBad {
    border: 1px solid #d34242;
}
.NeedsBtnGood {
    border: 1px solid #38a331;
}
.AnnotationBtn:after {
    color: #e7763f;
}
