.RootWindow {
    border-radius: 0px !important;
}

h2 {
    border-bottom: 1px solid darken($separator_color, 5%);
    margin-block-start: 2em;
}
p {
    text-align: justify;
    line-height: 1.3;
}
ul, ol {
    line-height: 1.3;
}

pre[class*=language-] {
    padding: 0 1em 1em 1em;
    margin: 20px;
    border-radius: 10px;
}
code[class*=language-] {
    line-height: 1.1;
    font-size: 13px;
}
.token.function {
    color: inherit;
}
.token.comment {
    //color: #f08d49;
    color: #58b764;
    font-style: italic;
}
.token.class-name {
    color: #d9b572;
}
.token.keyword {
    color: #858585;
    font-weight: bold;
}
.token.annotation {
    color: #f08d49;    
}