.PageStackLayout-Top {
    transition: none;
    transform: scale(0.01);
}

// during Page close
.Closing {
    transition: all 0.5s ease-in;
    opacity: 0;
    transform: scale(0.5);
}

// during PanGesture
.Paning {
    transition: all 0.35s ease-out;
}

.PageContainer {
    background-color: $bg1_color;    
}

.PageHeader {
    background-color: saturate(lighten($accent2_color, 20%), 20%);    
    border-bottom: 1px solid saturate(lighten($accent2_color, 27%), 10%);
    border-radius: 0px;
}

.PageTitle {
    font-weight: bold;
    font-size: 18px;   
}

.PageHeaderItem {
    background-color: transparent;
    border: none;
}
.PageHeaderItem:hover {
    background-color: saturate(lighten($accent2_color, 25%), 25%);
    background-color: transparent;
}
