
.ProgressContainer {
    background-color: $bg3_color;
    border-top: 1px solid lighten($bg3_color, 18%) !important;
    border-radius: 0px;
    font-size: 12px !important;
    color: darken($font_color, 30%);
}

// make Label hover over Separator
.StartPage .Labeled:before {
    background-color: $bg1_color;
    padding: 0px 7px 0px 7px;
}

$card_color: lighten($bg1_color, 4%);

.ContactButton, .AnchorButton {
    font-size: 12px;
    border-radius: 20px;
    padding: 5px 5px;
    background-color: $card_color;
    //border-color: saturate(lighten($bg1_color, 8%), 0%) !important;
    border: none !important;
}
// Tag
.AnchorButton:after {
    color: lighten($card_color, 17%);
}
.HasUnreadMessages:after {
    color: saturate(lighten($accent_color, 8%), 8%);
}

// XXX make cards
//.CheckingForm {
//    //background-color: $card_color;
//    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
//}

.MessageCard {
    //color: darken($font_color, 5%);
    background-color: $card_color;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
    border-radius: 8px;
    cursor: pointer;
}
.MessageCard-outgoing {
    background-color: darken(desaturate($accent2_color, 10%), 0%);
}
.MessageCard-selected {
    color: lighten($font_color, 5%);
    background-color: lighten($card_color,10%);
    box-shadow: 0px 1px 8px rgba(0,0,0,0.5);
    transform: scale(1.02);
}
.MessageCard span {
    overflow: hidden;
}
.MessageCard .Button {
    border: none !important;
    box-shadow: none;
    background-color: inherit;
    color: saturate(lighten($accent_color, 25%), 10%);
}

.MessageCard .FromText, 
.MessageCard .DateText, 
.MessagesPage .TypingText,
.MessagesPage .SubjectText {
    color: darken($font_color, 20%);
    font-size: 10px;
}
.MessagesPage .SubjectLink {
    font-size: 10px;
}
.MessageCard .DateText {
    text-align: right;
}
.MessagesPage .TypingText {
    //font-size: 10px;
    margin-top: -5px;
    margin-left: 10px;
}
.MessagesPage .MessageTextInput {
    background-color: darken($bg1_color, 3%);
    border-radius: 6px;
}
