
.ProgressContainer {
    background-color: $bg3_color;
    border-top: 1px solid lighten($bg3_color, 18%) !important;
    border-radius: 0px;
    font-size: 12px !important;
    color: darken($font_color, 30%);
}

.ContactButton, .AnchorButton {
    font-size: 12px;
    border-radius: 20px;
    padding: 5px 5px;
    background-color: saturate(lighten($bg1_color, 5%), 5%);
    //border-color: saturate(lighten($bg1_color, 8%), 0%) !important;
    border: none !important;
}

.MessageCard {
    //background-color: $bg2_color;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}