@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Roboto-Regular.woff2');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('fonts/Roboto-Medium.woff2');
}
@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/Roboto-Bold.woff2');
}

/* To get root window height */
html,body {
    height: 100%;
    margin: 0px;
}

body {
    background-color: $bg1_color;
    color: $font_color;
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
}

.UIComponent {
    position: absolute;
    border: 0px solid $separator_color;
    border-radius: 4px;
    transition: 
        top $transition_duration, 
        left $transition_duration, 
        width $transition_duration, 
        height $transition_duration, 
        transform $transition_duration,
        opacity $transition_duration,
        background-color $transition_duration,
        color $transition_duration;
    box-sizing: border-box;
}

.UIComposite {
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
    color: $font_color;
    
    // @extend .Bordered;
    ::-webkit-scrollbar { 
         display: none;         /* Chrome Safari */
    }
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE 10+ */
    overflow-y:scroll;
    overflow-x:scroll;
}

.Button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 7px 12px;
    //background-color: darken(desaturate($accent_color2, 7%), 3%);
    background-color: $bg3_color;
    border-color: lighten($bg3_color, 18%) !important;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}
.Button:hover {
    //background-color: lighten(saturate($accent_color2, 0%), 0%);
    background-color: lighten($bg3_color, 5%);
    color: lighten($font_color, 10%);
}
.Button:active {
    margin-top: 2px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    color: lighten($font_color, 10%);
}

.ListCell {
    background-color: $accent_color;
}

.Bordered {
    border: 1px solid $separator_color;
    border-radius: 4px;
    // margin: -1px;
}

.Progress {
    color: $progress_color; // IE    
    background: rgba(255,255,255,0.05);    
    border-radius: 4px;
}
.Progress::-moz-progress-bar {
    background: $progress_color;        
}
.Progress::-webkit-progress-value {
    background: $progress_color;
    border-radius: 4px;
}
.Progress::-webkit-progress-bar {
    background: rgba(255,255,255,0.05);
    border-radius: 4px;
}
//.Progress[value] {
//    border-radius: 4px;    
//}

// during PanGesture
.Paning {
    transition: all 0.35s ease-out;
}

.RootWindow {
    position: relative;
    background-color: $bg1_color;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.VisualClickFeedbackStart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: $font_color;
    border-radius: 40px;
    opacity: 50%; 
}

.VisualClickFeedbackEnd {
    @extend .VisualClickFeedbackStart;
    transform: scale(5);
    transition: all 0.4s;
    opacity: 0%; 
}

