
/* To get root window height */
html,body {
    height: 100%;
    margin: 0px;
}

body {
    background-color: $bg1_color;
    color: $font_color;
    font-family: arial, sans-serif;
}

.RootWindow {
    background-color: $bg1_color  
}

.UIComponent {
    border: 0px solid $separator_color;
    border-radius: 4px;
    color: $font_color;
}

.UIComposite {
    // @extend .Bordered;
    ::-webkit-scrollbar { 
         display: none;         /* Chrome Safari */
    }
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE 10+ */
    overflow-y:scroll;
    overflow-x:scroll;
}

.Button {
    // @extend .Bordered;
    padding: 7px 12px;
    background-color: $bg3_color;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}

.Button:hover {
    background-color: $bg2_color;
}

.ListCell {
    background-color: $accent_color;
}

.Bordered {
    border: 1px solid $separator_color;
    border-radius: 4px;
    margin: -1px;
}

