
$bg1_color: #373431;
$bg2_color: darken($bg1_color, 6%);
$bg3_color: darken($bg1_color, 12%);

$font_color: #d8d8d8;
$separator_color: darken($font_color, 50%);

// s$accent_color: rgb(198, 98, 11);
$accent_color: #996634;
$accent_color2: #304050;
$primary_color: darken($accent_color, 30%);

$transition_duration: 0.75s;

@import 'areca-common';
@import 'areca-pageflow';