
$bg1_color: #343332;
$bg2_color: darken($bg1_color, 6%);
$bg3_color: darken($bg1_color, 12%);

$font_color: #d0d0d0;
$link_color: rgb(127, 180, 232);
$separator_color: darken($font_color, 50%);

// s$accent_color: rgb(198, 98, 11);
$accent_color: #a16634;
$accent2_color: #304050;
$progress_color: #008000;
$primary_color: darken($accent_color, 30%);

$transition_duration: 0.75s;

@import 'areca-material-icons';
@import 'areca-common';
@import 'areca-pageflow';
@import 'areca-app';
