@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../../fonts/MaterialIcons-Regular.woff2) format("woff2"), url(../../fonts/MaterialIcons-Regular.woff) format("woff"), url(../../fonts/MaterialIcons-Regular.ttf) format("truetype");
}
.material-icons, .Tagged:after {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Roboto-Regular.woff2");
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/Roboto-Medium.woff2");
}
@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: normal;
  src: url("../../fonts/Roboto-Bold.woff2");
}
@font-face {
  font-family: 'RobotoMono';
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/RobotoMono-Regular.ttf");
}
@font-face {
  font-family: 'RobotoMono';
  font-weight: bold;
  font-style: normal;
  src: url("../../fonts/RobotoMono-Bold.ttf");
}
@font-face {
  font-family: 'RobotoMono';
  font-weight: normal;
  font-style: italic;
  src: url("../../fonts/RobotoMono-Italic.ttf");
}
/* To get root window height */
html, body {
  height: 100%;
  margin: 0px;
}

body {
  background-color: #323334;
  color: #d0d0d0;
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
}

.UIComponent {
  position: absolute;
  border: 0px solid #444444;
  border-radius: 6px;
  transition: top 0.75s, left 0.75s, width 0.75s, height 0.75s, transform 0.75s, opacity 0.75s, background-color 0.75s, color 0.75s, filter 0.75s;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.UIComponent:disabled {
  color: #777777;
}

.UIComposite {
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  color: #d0d0d0;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  overflow-y: visible;
  overflow-x: visible;
}
.UIComposite ::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

.ScrollableComposite {
  overflow-y: scroll;
  overflow-x: visible;
}
.ScrollableComposite ::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

.Separator {
  border-top: 1px solid #444444;
  border-bottom: none;
  overflow: visible;
}

a, .Link {
  color: #cd9564;
  text-decoration: none;
}

a:hover, .Link:hover {
  color: #d9af8b;
  text-decoration: underline;
}

a:active, .Link:active {
  margin-top: 1px;
  color: #e0bd9e;
}

.ColorPicker {
  background-color: inherit;
}

.ListCell {
  background-color: #51a386;
}

.Bordered {
  border: 1px solid #444444;
  border-radius: 6px;
}

.Progress {
  color: #008000;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
}

.Progress::-moz-progress-bar {
  background: #008000;
}

.Progress::-webkit-progress-value {
  background: #008000;
  border-radius: 4px;
}

.Progress::-webkit-progress-bar {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
}

.RootWindow {
  position: relative;
  background-color: #323334;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.VisualClickFeedbackStart, .VisualClickFeedbackEnd {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #d0d0d0;
  border-radius: 40px;
  opacity: 50%;
}

.VisualClickFeedbackEnd {
  transform: scale(5);
  transition: all 0.4s;
  opacity: 0%;
}

.Labeled:before {
  content: attr(data-label);
  height: 12px;
  line-height: 12px;
  text-align: left;
  display: block;
  color: #909090;
  font-size: 11px;
  position: absolute;
  top: -7px;
  left: 7px;
}

.Badged:before {
  content: attr(data-badge);
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: block;
  border-radius: 50%;
  background: #3e9d7b;
  border: 1px solid #9d9d9d;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: -4px;
  left: -4px;
}

.Badged-NorthEast:before {
  left: auto;
  right: -4px;
}

.Tagged:after {
  content: attr(data-tag);
  height: 20px;
  line-height: 20px;
  text-align: left;
  display: block;
  color: #474747;
  font-size: 21px;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: -4px;
  left: auto;
  right: -2px;
}

.Button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  overflow: visible;
  cursor: pointer;
  text-align: center;
}

.Button.SUBMIT {
  color: #eaeaea;
  background-color: #33a87e;
  border-color: #6fb89e;
}

.Button.ACTION {
  background-color: #141415;
  border-color: #3a3b3c;
}

.Button:hover:enabled {
  color: #f6f6f6;
}

.Button:active:enabled {
  margin-top: 2px;
  box-shadow: none;
  color: #f6f6f6;
  filter: brightness(1.1);
}

.Button:disabled {
  box-shadow: none;
  filter: brightness(0.5) saturate(0.5);
}

.Button span, .Button img {
  position: relative;
  vertical-align: middle;
}

.Button img {
  height: 100%;
}

pre.Text {
  margin: 0px;
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
}

.TextField {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  border-bottom: 1px solid #51a386;
}

.TextField:focus {
  border-bottom: 2px solid #51a386;
  color: #eaeaea;
  outline: none;
}

input.TextField {
  padding: 0px 7px;
  border-radius: 2px;
}

textarea.TextField {
  padding: 7px 7px;
  background-color: #414244;
  resize: none;
}

.CodeMirror {
  height: 100% !important;
  width: 100% !important;
  font-family: 'RobotoMono', monospace !important;
  font-size: 12px !important;
  color: #d0d0d0 !important;
}

.CodeMirror-hints {
  font-family: 'RobotoMono', monospace !important;
  font-size: 12px !important;
  color: #d0d0d0 !important;
  border: 1px solid #444444 !important;
  background-color: #323334 !important;
  padding: 0px !important;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4) !important;
  max-height: 500px !important;
}

.CodeMirror-hint {
  color: #d0d0d0 !important;
  background-color: #323334 !important;
  padding: 1px 4px 2px 4px !important;
  border-radius: 0px !important;
}

.CodeMirror-hint-active {
  background-color: #40816a !important;
  color: white !important;
}

.cm-header {
  color: antiquewhite !important;
}

.TableCell {
  border-radius: 0;
}

.TableCell.Lines {
  border-bottom: 1px solid #444444;
}

.TableCell.Clickable {
  cursor: pointer;
}

.TableCell.Clickable:hover {
  filter: brightness(1.3);
}

.Even {
  background-color: #2d2e2f;
}

.Switcher {
  perspective: 6000px;
  overflow-x: hidden;
}

.SwitcherChild {
  background-color: #323334;
  backface-visibility: hidden;
  transition: transform 1.5s;
}

.SwitcherChild-Top {
  background-color: #323334;
}

.SwitcherHandle {
  padding: 0;
  border-color: #444444 !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  background-color: #262627;
  color: #cd9564;
  border-radius: 10px;
}

.FileUpload {
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  overflow: visible;
}

input[type="file"]::file-selector-button {
  color: #51a386;
  background-color: #141415;
  overflow: visible;
  cursor: pointer;
  text-align: center;
  border: 1px solid #444444;
  border-radius: 6px;
  padding: 0 10px 0 10px;
  height: 100%;
}

input[type="file"]::file-selector-button:hover:enabled {
  filter: brightness(1.3);
}

.PageStackLayout-Top {
  transition: none;
  transform: scale(0.2);
  opacity: 0;
}

.Closing {
  transition: all 0.5s ease-in;
  opacity: 0;
  transform: scale(0.5);
}

.Paning {
  transition: all 0.35s ease-out;
}

.PageContainer {
  background-color: #323334;
}

.PageHeader {
  background-color: #51a386;
  border-bottom: 1px solid #71a794;
  border-radius: 0px;
}

.PageTitle {
  font-size: 21px;
}

.PageHeaderItem {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
}

.PageHeaderItem.SUBMIT {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.PageHeaderItem:disabled {
  box-shadow: none;
  border: none;
}

.PageHeaderItem:hover:enabled {
  background-color: #58b594 !important;
}

.PageHeaderItem:active:enabled {
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=basic-dark.css.map */
