// deprecated
.PageStackLayout-Top {
    transition: none;
    transform: scale(0.2);
    opacity: 0;
}

.PageRoot {
    transition: all 0.5s !important;
}
.PageOpening {
    transform: scale(0.3);
    opacity: 0;
}

// during Page close
.PageClosing {
    transition: all 0.5s ease-in !important;
    opacity: 0;
    transform: scale(0.5);
}

// during PanGesture
.Paning {
    transition: all 0.35s ease-out;
}

.PageContainer {
    background-color: $bg1_color;    
}

//$header_color: saturate(lighten($accent2_color, 20%), 20%);
$header_color: $accent_color;

.PageHeader {
    background-color: $header_color;    
    border-bottom: 1px solid desaturate(lighten($header_color, 7%), 10%);
    border-radius: 0px;
}

.PageTitle {
    display: block !important; // overwrite component render optimization
    //font-weight: bold;
    font-size: 21px;   
}

.PageHeaderItem {
    background-color: transparent !important;
    border: none;
    box-shadow: none;
}
.PageHeaderItem.SUBMIT {
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}
.PageHeaderItem:disabled {
    box-shadow: none;
    border: none;
}
.PageHeaderItem:hover:enabled {
    background-color: saturate(lighten($header_color, 5%), 5%) !important;
}
.PageHeaderItem:active:enabled {
    // XXX this is good for buttons oonly
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
}