//.Text {
//    margin: 0px;    
//}
pre.Text {
    margin: 0px;    
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
}

.TextField {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    border-bottom: 1px solid $accent_color;
}
.TextField:focus {
    border-bottom: 2px solid $accent_color;
    color: lighten($font_color, 10%);
    outline: none;    
}
input.TextField {
    padding: 0px 7px;
    border-radius: 2px;
}
textarea.TextField {
    padding: 7px 7px;
    background-color: $light_bg_color;
    resize: none;
}
.CodeMirror {
    height: 100% !important;
    width: 100% !important;

    font-family: 'RobotoMono', monospace !important;
    font-size: 12px !important;
    color: $font_color !important;
}
.CodeMirror-hints {
    font-family: 'RobotoMono', monospace !important;
    font-size: 12px !important;
    color: $font_color !important;
    border: 1px solid $separator_color  !important;    
    background-color: $bg1_color !important;
    padding: 0px !important;
    box-shadow: 0px 3px 8px rgba(0,0,0,40%) !important;
    max-height: 500px !important;
}
.CodeMirror-hint {
    color: $font_color !important;    
    background-color: $bg1_color !important;
    padding: 1px 4px 2px 4px !important;
    border-radius: 0px !important;
}
.CodeMirror-hint-active {
    background-color: darken($accent_color, 10%) !important;
    color: white !important;
}

// Coloring
.cm-header {
    color: antiquewhite !important;
}