
$bg1_color: #323334;
$bg2_color: darken($bg1_color, 6%);
$bg3_color: darken($bg1_color, 12%);
$light_bg_color: lighten($bg1_color, 6%);

$font_color: #d0d0d0;
$link_color: #cd9564; //rgb(127, 180, 232);
$separator_color: darken($font_color, 55%);

// s$accent_color: rgb(198, 98, 11);
$accent_color: #51a386;
$accent2_color: #304050;
$progress_color: #008000;
$primary_color: darken($accent_color, 30%);

$transition_duration: 0.75s;

:root {
    --basic-bg-color: #{$bg1_color};
    --basic-bg2-color: #{$bg2_color};
    --basic-bg3-color: #{$bg3_color};
    --basic-fg-color: #{$font_color};
    --basic-link-color: #{$link_color};
    --basic-accent-color: #{$accent_color};
    --basic-accent2-color: #{$accent2_color};
    --basic-primary-color: #{$primary_color};
    --basic-separator-color: #{$separator_color};
    --basic-sep-color: #{$separator_color};
}

@import 'material-icons';
@import 'common';
@import 'button';
@import 'textfield';
@import 'table';
@import 'switcher';
@import 'fileupload';
@import 'iframe';
@import 'select';
@import 'decorators';
@import 'pageflow';
